*{
    /* border: 1px solid black; */
    font-family: 'Courier New', Courier, monospace;
}

h1{
    text-align: center;
    color: gold;
}

.container-wrapper{
    position: relative;
    background-color: red;
    margin: 0 auto;
    margin-top: 2vh;
    padding: 50px;
    padding-top: 0px;
    padding-bottom: 20px;
    max-width: min-content;
    min-width: min-content;
    border-radius: 30px;
    border: 2px black solid;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    max-width: 500px;
    min-width: 500px;
    height: 500px;
    background-color: lightgray;
    margin: 0 auto;
}

.square{
    display: inline-block;
    background-color: lightgray;
    width: 20px;
    height: 20px;
    border: 0;
    margin: 0;
}

.buttons{
    text-align: center;
}


.btn{
    display: inline-block;
    
    margin-top: 20px;
    padding: 12px;
    min-width: 100px;
    appearance: none;
    cursor: pointer;
    border: 1px #000 solid;
    border-radius: 10px;
    background: lightgrey;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 100ms ease-in, color 100ms ease-in;
}

.btn:hover{
    background: black;
    color: white;
}
  