/* *{
    border: 1px solid black;
} */

h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.container-wrapper{
    background-color: red;
    margin: 0 auto;
    padding: 50px;
    max-width: 320px;
    border-radius: 10%;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    max-width: 320px;
    background-color: white;
    margin: 0 auto;
    /* border: 1px solid grey; */
}

.square{
    display: inline-block;
    background-color: rgb(255, 255, 255);
    width: 20px;
    height: 20px;
    border: 0;
    margin: 0;
}